
bunthebig_filtered.txt
realdonaldtrump_filtered.txt
realdonaldtrump_tweets.csv
realdonaldtrump_txt.txt
realdonaldtrump.txt
realdonaldtrump_final.txt
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
realdonaldtrump_final.txt
realdonaldtrump_filtered2.txt
realdonaldtrump_final.txt
realdonaldtrump_filtered2.txt
script.rar
full.rar
bunthebig.txt
bunthebig_filtered2.txt
bunthebig_final.txt
bunthebig_tweets.csv
BitchAssBowie_final.txt
barackobama_final.txt
elonmusk_final.txt
